# Virtual Environment
.venv/
venv/
ENV/
env/

# Python Caches
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Environment Variables & Secrets
.env
.env.*
!.env.example

# OS files
.DS_Store
Thumbs.db
